# تجاهل مجلد node_modules بالكامل
node_modules/

# تجاهل ملفات النظام المؤقتة
*.log
*.tmp

# تجاهل إعدادات المستخدم فقط من vscode وليس إعدادات المشروع
.vscode/

# تجاهل ملفات البيئة
.env

# تجاهل ملفات النظام
.DS_Store
Thumbs.db
